@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>My Site's Title</title>
    <script src="//code.jquery.com/jquery.min.js" type="text/javascript"></script>
    <script>
        $(function () {
            $('#btn-all').on('click', function () {
                $.get('/api/webcustomer', function (GetAll) {
                    $('#result').empty();
                    $.each(data, function (i, v) {
                        $('#result').html($('#result').html() + v.Title + '<br />');
                    });
                }, 'xml');
            });


        });
    </script>
</head>
<body>
    <button id="btn-all">Get all movies</button>

    <div id="result"></div>
</body>
</html>